// @import lokalizacja pliku/nazwa pliku

@import 'components/body';
@import 'components/header';
@import 'components/hero';
@import 'components/color_and_fonts';
@import 'components/common';
@import 'components/container_and_mixin';
@import 'components/dark_mode_switcher';
@import 'components/support-ukraine';
@import 'components/loader';
@import 'components/header';
@import 'components/menu';
@import 'components/is-hidden';
@import 'components/category';

@import 'components/dark_mode_switcher';
@import 'components/popup';
@import 'components/reg-window'