body {
  background-color: #f6f6f6;
}

.text-shopping {
  color: #111;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
}

.text-list {
  color: #4f2ee8;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
  margin-left: 0.2em;
}

.main-title-shoplist-hidden {
  display: flex;
}

.container-btn-arrow-left-left,
.container-btn-arrow-left {
  display: flex;
  align-items: center;
  border-color: black;
  border-style: groove;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
}

#btn-arrow-left-1,
#btn-arrow-left-2 {
  transform: rotate(90deg);
  fill: white;
  color: white;
}

#btn-arrow-left-2 {
  margin-left: -10px;
}

/* ------ */
.book-card-position {
  text-align: left;
}

.book-card {
  text-align: left;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

#cover {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book-details {
  text-align: left;
}

#buy-links a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}
