body {
  background-color: #f6f6f6;
}

.text-shopping {
  color: #111;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
}

.text-list {
  color: #4f2ee8;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
  margin-left: 0.2em;
}

.main-title-shoplist-hidden {
  display: flex;
}

/* ---BOOK CARDS--- */
.book-card-position {
  text-align: left;
}

.book-card {
  position: relative;
  text-align: left;
  max-width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

#cover {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book-details {
  text-align: left;
}

#buy-links a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

/* --- btn-delete-book --- */
.container-btn-delete-book {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: rgba(79, 46, 232, 1);
  border-style: groove;
  border-radius: 50%;
  background-color: rgba(79, 46, 232, 1);
  width: 30px;
  height: 30px;
}

#btn-delete-book {
  fill: white;
}

/* --- logo amazon & book --- */
.amazon-logo,
.book-icon {
  filter: grayscale(100%);
  margin-right: 10px;
}

.container-logo-position {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
}

/* ---- BUTTONS_PAGES ---- */
.container-btn-arrow-left-left,
.container-btn-arrow-left {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: rgba(17, 17, 17, 1);
  border-style: groove;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 1);
}

#btn-arrow-left-1,
#btn-arrow-left-2 {
  transform: rotate(90deg);
  fill: rgba(180, 175, 175, 1);
  color: rgba(180, 175, 175, 1);
}

#btn-arrow-left-2 {
  margin-left: -15px;
}

#page-1,
#page-2,
#page-3,
#page-more {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  color: #111;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border-style: groove;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #f6f6f6;
}

.container-btn-arrow-right-right,
.container-btn-arrow-right {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-style: groove;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(234, 198, 69, 1);
}

#btn-arrow-right-1,
#btn-arrow-right-2 {
  transform: rotate(-90deg);
  fill: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

#btn-arrow-right-2 {
  margin-left: -15px;
}

.container-btns-slider,
.container-btns-pages {
  display: flex;
  text-align: center;
}
