<section class="categoriesList">
<div class="categoriesList__listContainer">
    <ul class="categoriesList__list"> Kategorie
        <li class="categoriesList__item">
            kategoria #1
        </li>
        <li class="categoriesList__item">
            kategoria #2
        </li>
        <li class="categoriesList__item">
            kategoria #3
        </li>
        <li class="categoriesList__item">
            kategoria #4
        </li>
        <li class="categoriesList__item">
            kategoria #5
        </li>
        <li class="categoriesList__item">
            kategoria #6
        </li>
        <li class="categoriesList__item">
            kategoria #7
        </li>
        <li class="categoriesList__item">
            kategoria #8
        </li>
        <li class="categoriesList__item">
            kategoria #9
        </li>
        <li class="categoriesList__item">
            kategoria #10
        </li>
    </ul>
</div>
</section>