<div class="category">
  <ul class="category__list">
    <button type="button" class="category__button">All categories</button>
    <button type="button" class="category__button">
      Combined Print & E-book Fiction
    </button>
    <button type="button" class="category__button">
      Combined Print & E-book Nonfiction
    </button>
    <button type="button" class="category__button">Hardcover fiction</button>
    <button type="button" class="category__button">Hardcover nonfiction</button>
    <button type="button" class="category__button">
      Paperback trade fiction
    </button>
    <button type="button" class="category__button">Paperback nonfiction</button>
    <button type="button" class="category__button">
      Advice, how-to & Miscellaneous
    </button>
    <button type="button" class="category__button">
      Children's middle grade hardcover
    </button>
  </ul>
</div>
