<header class="header">
  <div class="header__container">
    <div class="header__nav-bar">
      <img />
      <nav>
        <div class="header__logo">Bookshelf</div>
        <ul class="header__nav-desktop">
          <li class="header__nav-item"><a href="#home">Home</a></li>
          <li class="header__nav-item"><a href="#about">Shopping list</a></li>
        </ul>
      </nav>
      <div> <!-- slider DarkMode -->
        <input type="checkbox" id="darkSwitch">
        <label for="darkSwitch">
          <p>DarkMode</p>
        </label>
      </div>
