<section class="hero">
  <aside class="hero__aside">
    <!-- <div class="hero__aside-categorylist">
      <ul class="hero__aside-categorylist-list">
        Kategorie
        <li class="hero__aside-categorylist-item">kategoria #1</li>
        <li class="hero__aside-categorylist-item">kategoria #2</li>
        <li class="hero__aside-categorylist-item">kategoria #3</li>
        <li class="hero__aside-categorylist-item">kategoria #4</li>
        <li class="hero__aside-categorylist-item">kategoria #5</li>
        <li class="hero__aside-categorylist-item">kategoria #6</li>
        <li class="hero__aside-categorylist-item">kategoria #7</li>
        <li class="hero__aside-categorylist-item">kategoria #8</li>
        <li class="hero__aside-categorylist-item">kategoria #9</li>
        <li class="hero__aside-categorylist-item">kategoria #10</li>
      </ul>
    </div> -->
    <!-- <include src="./partials/support-ukraine.html"></include> -->
    <!-- <div class="hero__aside-supportUkraine">
      <ul class="hero__aside-supportUkraineList">
        Support ukraine
        <li class="aside-supportUkraineItem">informacja #1</li>
        <li class="aside-supportUkraineItem">informacja #2</li>
        <li class="aside-supportUkraineItem">informacja #3</li>
        <li class="aside-supportUkraineItem">informacja #4</li>
        <li class="aside-supportUkraineItem">informacja #5</li>
        <li class="aside-supportUkraineItem">informacja #6</li>
      </ul>
    </div> -->
  </aside>
  <main>
    <div class="hero__main">
      Gatunek
      <ul class="hero__main-booksBlockList" id="books-container">
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
      </ul>
      <button class="hero__main-booksBlockButton">See more</button>
    </div>
    <div class="hero__main">
      Gatunek
      <ul class="hero__main-booksBlockList">
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
      </ul>
      <button class="hero__main-booksBlockButton">See more</button>
    </div>
    <div class="hero__main">
      Gatunek
      <ul class="hero__main-booksBlockList">
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
      </ul>
      <button class="hero__main-booksBlockButton">See more</button>
    </div>
    <div class="hero__main">
      Gatunek
      <ul class="hero__main-booksBlockList">
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
        <li class="hero__main-booksBlockItem">
          <img
            class="hero__main-booksBlockImg"
            width="180"
            height="256"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK"
          />
          <h2 class="hero__main-booksBlockTitle">Tytuł</h2>
          <p class="hero__main-booksBlockDesc">Opis</p>
        </li>
      </ul>
      <button class="hero__main-booksBlockButton">See more</button>
    </div>
  </main>
</section>
