<!-- Trigger/Open The Modal -->

<div id="myModal" class="popup">
  <div class="popup__content">
    <div class="popup__close-button-div">
      <span class="popup__close-button-span"><svg class="popup__close-button-svg" xmlns="http://www.w3.org/2000/svg">
        <path class="popup__close-button-svg" d="M21 7L7 21M7 7L21 21" stroke="#111111" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></span>
    </div>
    <aside class="popup__aside">
      <img class="popup__img" width="192" height="281"
            src="https://images.pexels.com/photos/952724/pexels-photo-952724.jpeg?auto=compress&cs=tinysrgb&w=240&dpr=2"
            alt="OBRAZEK" />
    </aside>
    <main class="popup__main">
      <ul class="popup__info">
        <li class="popup__info-title">
          TYTUŁ KSIĄŻKI
        </li>
        <li class="popup__info-name">
          Imie nazwisko pisarza
        </li>
        <li class="popup__info-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nulla reiciendis perferendis deleniti, maiores quas repudiandae distinctio minima iure officiis architecto porro dignissimos odio animi aut suscipit alias ex nam!
        </li>
        <li class="popup__info-link">
          link do amazona
        </li>
      </ul>
    </main>
    <button class="popup__button">ADD TO SHOPPING LIST</button>
  </div>
</div>