<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="Bookshelf" />
    <meta name="application-name" content="Bookshelf" />
    <meta name="msapplication-TileColor" content="#603cba" />
    <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png" />
    <meta name="msapplication-config" content="favicon/browserconfig.xml" />

    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Inter:wght@500;700&family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/sass/main.scss" />
    <!-- <script type="module" src="./index.js"></script> -->
    <title>Page title</title>
  </head>
  <body>
    <!-- Header -->
    <include src="/src/partials/_header.html"></include>
    <main>
      <section class="section-shopping-list">
        <div class="container container-shopping-list">
          <h1 class="main-title-shoplist-hidden">Page of Shopping List</h1>
          <!-- Support Ukraine -->
          <div class="wrap-support">
            <include src="/src/partials/_support-ukraine.html"></include>
          </div>
          <!-- My Shopping List  -->
        </div>
      </section>
    </main>

    <script src="./shopping-list.js"></script>
  </body>
</html>
