.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  //justify-content: flex-start;
  //align-items: flex-start;
  //align-content: flex-start;
  background-color: var(--hero-background-color);
  padding-left: 20px;
  padding-right: 20px;
  // aside panels category list and support ukraine
  &__aside {
    //flex-basis: 200px;
  }
  /*&__aside-categorylist {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    border: 5px dashed red;
    margin-left: 24px;
    margin-bottom: 86px;
  }*/
  /*&__aside-categorylist-list {
    display: flex;
    width: 328px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }*/
  &__aside-categorylist-item {
    width: 318px;
    color: var(--black-cat);

    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
  }
  // &__aside-supportUkraine {

  //   width: 356px;
  //   height: 474px;
  //   flex-shrink: 0;
  //   border: 5px dashed blue;
  //   margin-left: 24px;
  // }
  // &__aside-supportUkraineList {
  //   display: inline-flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: 20px;

  // }
  // &__aside-supportUkraineItem {
  //   width: 131px;
  //   height: 32px;
  //   flex-shrink: 0;
  // }
  // main content blocks with categories and books informations

  &__main {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    //border: 5px dashed red;
    margin-left: 40px;
    color: var(--grey-400);

    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__main-booksBlockList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0px;
  }

  &__main-booksBlockItem {
    display: flex;
    width: 180px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  &__main-booksBlockImg {
    border-radius: 8px;
  }

  &__main-booksBlockTitle {
    color: var(--black);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
    letter-spacing: -0.64px;
  }

  &__main-booksBlockDesc {
    color: var(--black);

    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.48px;
  }
  &__main-booksBlockButton {
    display: flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid var(--purple);
  }
}

[data-theme='dark'] .hero {
  background-color: var(--hero-background-color-dark);
}

/* hero section for books sections */

@media screen and (min-width: 1440px) {
  .best-sellers {
    width: 996px;
    //border: 1px solid seagreen;
  }
}

.books-card-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  height: 535px;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1439px)  {
  .books-card-container {
    justify-content: space-between;
    height: 366px;
  }
}

@media screen and (min-width: 1440px) {
  .books-card-container {
    height: 306px;
  }
}

.books-list {
  margin-bottom: 40px;
  //border: 1px solid pink;
}

.title-book {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);
  letter-spacing: -0.04em;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 40px;
  
}

[data-theme='dark'] .title-book {
  color: var(--white);
}

@media screen and (min-width: 768px) and (max-width: 1439px)  {
  .title-book {
    font-size: 48px;
    line-height: calc(52 / 48);
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .title-book {
    font-size: 48px;
    line-height: calc(52 / 48);
    padding-top: 40px;
  }
}

.title-book-span {
  color: var(--purple);
}

.books-list-title {
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: 0.03em;
  color: var(--grey-400);
  margin-top: 0;
  margin-bottom: 18px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1439px)  {
  .books-list-title {
    line-height: calc(24 / 14);
  }
}

.books-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 14px;
}

.books-card-title-img {
  display: block;
  width: 335px;
  height: 485px;
}

@media screen and (min-width: 768px) and (max-width: 1439px)  {
  .books-card-title-img {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .books-card-title-img {
    width: 180px;
    height: 256px;
  }
}

.books-descr {
  width: 335px;
}

@media screen and (min-width: 768px) and (max-width: 1439px)  {
  .books-descr {
    width: 218px;
  }
}

@media screen and (min-width: 1440px) {
  .books-descr {
    width: 180px;
  }
}

.books-card-title {
  font-size: 16px;
  line-height: calc(18 / 16);
  letter-spacing: -0.04em;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 4px;
  height: 18px;
  overflow: hidden;
}

[data-theme='dark'] .books-card-title {
  color: var(--white);
}

@media screen and (min-width: 768px) and (max-width: 1439px)  {
  .books-card-title {
    line-height: calc(18 / 16);
  }
}

.books-card-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;
  color: var(--grey-400);
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .books-card-author {
    height: 14px;
    overflow: hidden;
  }
}

.books-btn {
  display: block;
  margin-left: auto;
  margin-top: 8px;
  padding: 14px 28px;
  border: 2px solid var(--purple);
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--black);
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .books-btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .books-btn {
    margin-top: 32px;
  }
}

.books-btn:hover,
.books-btn:focus {
  background-color: var(--purple);
  color: var(--white);
}

.books-btn:focus {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
}
[data-theme='dark'] .books-btn {
  color: var(--white);
}

.books-item-link {
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1439px)  {
  .books-item-link {
    width: 218px;
  }
}

@media screen and (min-width: 1440px) {
  .books-item-link {
    width: 180px;
  }
}

.books-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  border-radius: 0 0 8px 8px;

  width: 100%;
  height: 27%;
  opacity: 0;

  background: var(--yellow);
  user-select: none;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.books-overlay-text {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.books-item-link:hover .books-overlay,
.books-item-link:focus .books-overlay {
  opacity: 1;
  transform: translateY(0);
}

.books-list-title.active {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--purple);
}

.books-card-container.active {
  height: auto;
  margin-bottom: 80px;
}
